ul {
	margin: 0 auto;
	width: 1150px;
}
li {
	display: inline-block;
	width: 200px;
	margin-right: 10px;
  margin-top: 10px;
	border: 1px solid lightgrey;
	padding: 5px;
  background: white;
}

audio {
	width: 200px;

}

i {
	float: right;
	color: grey;
	cursor: pointer;
}
