<header>
  <a routerLink="/home"><span>AngularPlayer</span></a>
  <ul class="submenu" [hidden]='!isUser()'>
  	<li><a routerLink="/playlist" [hidden]='!isUser()'>Playlist</a></li>
  	<li><a routerLink="/account" [hidden]='!isUser()'>Account</a></li>
  </ul>
  <div class="content">
    <div class="user"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></div>
    <div class="dropdown"><i class="fa fa-angle-down" aria-hidden="true" (click)="bool = !bool"></i></div>
    <ul class="login-window" [class.show]="bool">
      <li><a routerLink="/login" [hidden]='isUser()'>Sing in</a></li>
      <li><a (click)='logout()' [hidden]='!isUser()'>Sing out</a></li>
    </ul>
  </div>
  <p-dialog [(visible)]="display" [(closable)]="!display">
    You have just log out from your account
  </p-dialog>
</header>
