<h2>Your account</h2>
<div *ngIf="user"  class="list">

 <ul [hidden]="bool">
  <li>First name: {{user.firstname}}</li>
  <li>Last name: {{user.lastname}}</li>
  <li>Username: {{user.username}}</li>
  <li>Password: {{user.password}}</li>
  <li>Gender: {{user.gender}}</li>
  <li>Email: {{user.email}}</li>
 </ul>	

 <div [hidden]='!bool'>
      <dynamic-form [fields]="fields" [buttonName]="buttonName" (onSubmit)="onSubmit($event)"></dynamic-form>
 </div>
</div>


<button (click)="edit()" [hidden]="bool">Edit</button>


